baseURL = "http://example.org/"
languageCode = "en-us"
title = "My New Hugo Site"

[module]
  [module.hugoVersion]
    min = "0.110.0"

[params]
  # Add your theme-specific parameters here

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
  [markup.highlight]
    noClasses = false

[outputs]
  home = ["HTML", "RSS", "JSON", "MP3"]

[[outputs.MP3]]
  content_type = "audio/mpeg"
  media_types = ["mp3"]

[menu]
  [[menu.main]]
    identifier = "audio"
    name = "Audio"
    url = "/audio/"
    weight = 3  # Adjust the weight to control the position in the menu
    [menu]
  [[menu.main]]
    name = "Docsy & Hugo Website"
    url = "/path/to/page/"
    weight = 10
  [menu]
  [[menu.main]]
    identifier = "about"
    name = "About"
    url = "/about/"
    weight = 10
  [[menu.main]]
    identifier = "coding-projects"
    name = "Coding Projects"
    url = "/coding-projects/"
    weight = 20
