{{ if not (.Page.Scratch.Get "Papa.parse") }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/papaparse@5.3.0/papaparse.min.js"></script>
    {{ .Page.Scratch.Set "Papa.parse" true }}
{{ end }}

{{ if not (.Page.Scratch.Get "tabulator") }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Commissioner">
    <link href="https://unpkg.com/tabulator-tables@5.5.3/dist/css/tabulator_semanticui.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.5.3/dist/js/tabulator.min.js"></script>
    {{ .Page.Scratch.Set "tabulator" true }}
{{ end }}

<div>
    <button id='{{ .Get "id" }}-download'>Download</button>
</div>
<div id='{{ .Get "id" }}' style="height: 600; width: 900;"></div>

<link rel="stylesheet" href='{{ "css/tabulator-custom-style.css" | relURL }}'>
<script type="text/javascript">
var tableId = '{{ .Get "id" }}';
/*if ('{{ .Get "layout" }}' == "fill") {
    //document.getElementsByClassName("flex-block-wrapper")[0].style['margin-left'] = '0px';
    //var table_div = document.getElementById(tableId);
    table_div.style['position'] = 'absolute';
    table_div.style['height'] = '90%';
    table_div.style['width'] = '90%';
};*/
var download_link = '{{ .Get "downloadLink" }}';
if (download_link == '' || download_link == null) {
    download_link = '{{ .Get "csvFile" }}'
};
var xhr = new XMLHttpRequest();
xhr.open('GET', '{{ .Get "csvFile" }}', true);
xhr.onload = function () {
    if (this.status === 200) {
        var csvData = this.responseText;
        // use Papa.parse to parse the data
        var parsedData = Papa.parse(csvData, { delimiter: ',', dynamicTyping: true, skipEmptyLines: true, header: true  });
        if (parsedData.errors.length > 0) {
          console.error('Error parsing CSV file:', parsedData.errors);
          return;
        }
        console.log(parsedData);
        var table = new Tabulator('#' + tableId, {
            data:parsedData.data, 
            autoColumns:true,
            pagination:true,
            paginationSize:10,
            paginationCounter:"rows",
            columnDefaults:{
                headerFilter: "input",
                hozAlign: "center",
                headerHozAlign: "center",
                formatter: "textarea"
            }
        });
        document.getElementById(tableId + "-download").addEventListener("click", function(){
            location.href = download_link;
        });
    }
}
xhr.send();
</script>